/* PopularProducts.css */

.popular-products {
  padding: 100px;
  padding-top:60px ;
  /* padding: 2rem; */
  background-color: #f9f9f9;
  
}

.popular-products h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.product-card {
  padding-top: 2px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* width: 200px; */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #f3f3f3;
}

.product-card .product-price {
  font-size: 1rem;
  color: #f3f3f3;
  margin-bottom: 1rem;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.productDetails{
  width: 200px;
  cursor: pointer;
  /* color: #f3f3f3; */
  background-color: #000046 !important;
  padding: 10px 1px;
}
