.formOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px; 
}
.display{
    position: fixed;
    margin-top: -200px;
    margin-left: -70px;
    display: sticky;
    border: 2px solid red;
}
.display img{
    width: 600px;
}
.formItems{
    width: 50%;
    margin-left: 600px;
}
.optionImg{
    width: 120px;
}

.lanWidth{
    display: flex;
    justify-content: space-between;
}
.landW1{
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 30px;
}
.lanLenght{
    display: flex;
    justify-content: space-between;
}

/* color */
.color{
    display: flex;
}

.color1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    padding: 10px;
    
}
.color1>input{
    padding: 2px 5px;
    margin-top: 10px;
    width: 100px;

    border-radius: 10px;
}
.gold{
    background-color: gold;
    padding: 25px;
    border-radius: 50%;
}

.black{
    background-color: black;
    padding: 25px;
    border-radius: 50%;
}

.brown{
    background-color: brown;
    padding: 25px;
    border-radius: 50%;
}

.pink{
    background-color: pink;
    padding: 25px;
    border-radius: 50%;
}

